/*******************************************************************************
* Stylesheet for Project-1 Assignment - Local Muse
*******************************************************************************/

container {
    padding-right: 50px;
}

.top-bar {
    position: fixed;
    width: 100%;
}

.jumbotron {
    text-align: center;
}

.card {
    float: left;
}

.media-object-section {
    padding-left: 30px;
}