/*******************************************************************************
* Stylesheet for Project-1 Assignment - Local Muse
*******************************************************************************/

.jumbotron {
    text-align: center;
}

.card {
    float: left;
}

.media-object-section {
    padding-left: 30px;
}