/*******************************************************************************
* Stylesheet for Project-1 Assignment - Local Muse
*******************************************************************************/

/* GOOGLE FONTS: 
font-family: 'Righteous', cursive; ===HEADERTEXT
font-family: 'Open Sans', sans-serif; ==BODYTEXT
 */

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/dark-mosaic.png');
  background-color: #76328e;
}

h1 {
  font-family: 'Righteous', cursive;
}

table {
  margin-top: 20px;
}

thead {
  background-color: lightgrey;
}

.fa-search-location {
  margin: 10px;
}

.container {
    padding-right: 50px;
}

.display-4 {
    padding-top: 30px;
    justify-content: center;
    color: aliceblue;
}

/* this is all for the hero/search header ---------------------------------*/

.hero-section-text {
    font-family: 'Righteous', cursive;
    color: black;
    text-shadow: 0px 0px 20px #fefefe;
    margin: 20px;
}

.hero-search-filter {
    background: url("../images/concert.jpg") center center no-repeat;
    height: 300px;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px black;
  }
  
  .hero-search-filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 300px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
    
  .hero-search-filter-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    background: #fefefe;
    padding: 0.25rem;
    border-radius: 5px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-search-filter-form label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: #8a8a8a;
    font-weight: bold;
  }
  
  .hero-search-filter-form input,
  .hero-search-filter-form .button {
    margin-bottom: 0;
  }
  
  
  .hero-search-filter-form-find,
  .hero-search-filter-form-near {
    border: 0;
    box-shadow: none;
  }
  
  .hero-search-filter-form-find:focus,
  .hero-search-filter-form-near:focus {
    border: 0;
    box-shadow: none;
  }

  .buttonContainer {
    width: 190px; 
    position: fixed; 
    left: 80%; 
    top: 40%; 
    margin: 0 0 0 110px;
  }

  #more-events-button {
    background-color: #b96a9f;
    border-color: white;
  }

  #search-artist {
    background-color: #b96a9f;
    border-color: white;
  }

  #buy-tickets {
    background-color: #b96a9f;
    border-color: white;
  }

  @media screen and (max-width: 980px) {
    .buttonContainer {
      width: 190px; 
      position: fixed; 
      left: 85%; 
      top: 40%; 
      margin: 0px;
    }
  
  }

  @media screen and (max-width: 850px) {
    .buttonContainer {
      width: 190px; 
      position: fixed; 
      left: 50%; 
      top: 90%; 
      margin: 0px;
    }

    #more-events-button {
      position: fixed;
      left: 30%;
      top: 92%;
    }

    #search-artist {
      position: fixed;
      left: 42.4%;
      top: 91.3%;
    }
  
    #buy-tickets {
      position: fixed;
      left: 57.6%;
      top: 92%;
    }
  }

  @media screen and (max-width: 770px) {
    .buttonContainer {
      content: "";
      clear: both;
      display: table;
    }

    #more-events-button {
      position: fixed;
      left: 10%;
    }

    #search-artist {
      position: fixed;
      left: 37%;
    }
  
    #buy-tickets {
      position: fixed;
      left: 67%;
    }

  }

  @media screen and (max-width: 414px) {
    h1 {
      font-size: 175%;
    }

    .buttonContainer {
      content: "";
      clear: both;
      display: table;
    }

    #more-events-button {
      position: fixed;
      float: left;
      left: 25%;
      top: 93%;
      margin: 0px;
    }

    #more-events-button span {
      display:none;
    }

    #search-artist {
      position: fixed;
      float: left;
      left: 40%;
      top: 92.4%;
      margin: 0px;
    }
    #search-artist span {
      display:none;
    }
  
    #buy-tickets {
      position: fixed;
      float: left;
      left: 55%;
      top: 93%;
      margin: 0px;
    }
    #buy-tickets span {
      display:none;
    }

  }

  @media screen and (max-width: 350px) {
    h1 {
      font-size: 175%;
    }

    .buttonContainer {
      content: "";
      clear: both;
      display: table;
    }

    #more-events-button {
      position: fixed;
      float: left;
      left: 25%;
      top: 93%;
      margin: 0px;
    }

    #more-events-button span {
      display:none;
    }

    #search-artist {
      position: fixed;
      float: left;
      left: 40%;
      top: 92.4%;
      margin: 0px;
    }
    #search-artist span {
      display:none;
    }
  
    #buy-tickets {
      position: fixed;
      float: left;
      left: 55%;
      top: 93%;
      margin: 0px;
    }
    #buy-tickets span {
      display:none;
    }
  
    .hero-search-filter {
      width: 105%;
    }

  }

  #search-artist {
    margin: 5px 0px 5px 0px;
  }


  
  /* ************************************************************* */